.box_wrap {
    min-height: 100vh;
    background-color: #fff;
}
.main {
    width:100%;
    text-align: center;
    padding-top: 100px;
}
.input {
    margin: 30px 0;
}
.please_login {
    width:100%;
    height:500px;
    text-align: center;
    padding-top: 200px;
}
.text {
    width: 100px;margin: 20px;
}
.nft_img {
    width: 10px;
    height: 10px;
}