.wrap {
    height: 100vh;
}
.opt_list {
    padding: 20px 0;
    text-align: right;
}
.nft_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nft_item {
    margin-left: 20px;
    border-radius: 10px;
    border:solid 1px #f2f2f2;
    overflow: hidden;
    .nft_img {
        width: 200px;
        height: 200px;
    }
    .meta {
        padding: 0;
        border: solid 1px red;
    }
    .nft_title {
        border:solid 2px red;
        display: flex;
        justify-content: space-between;
    }
    .single_line {
        display: inline-block;
        width:60px;
    }
}