:global(:where(.css-dev-only-do-not-override-ac2jek).ant-layout-sider) {
    background-color: #191E26 !important;
}

:global(:where(.css-dev-only-do-not-override-ac2jek).ant-menu-dark) {
    background-color: #191E26 !important;
}
.platform_name {
    display: flex;
    align-items: center;
    span {
        font-size: 18px;
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
}

.opt_list {
    padding: 20px 0;
    text-align: right;
}
.nft_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nft_item {
    margin-left: 20px;
    border-radius: 10px;
    border:solid 1px #f2f2f2;
    overflow: hidden;
    position: relative;
    .nft_info {
        padding: 12px;
    }
    .nft_img {
        width: 200px;
        height: 200px;
    }
    .meta {
        padding: 0;
    }
    .nft_title {
        display: flex;
        justify-content: space-between;
    }
    .single_line {
        display: inline-block;
        white-space: nowrap;      /* 强制文本在一行显示，不换行 */
        overflow: hidden;         /* 隐藏超出容器的部分 */
        text-overflow: ellipsis;  /* 超出部分显示省略号 */
        /* 可选：设置容器宽度，限制文本范围 */
        width: 120px; 
    }
    .top {
        display: flex;
        font-size: 20px;
        padding: 12px 12px 0 12px;
        .token_id {
            margin-left: 4px;
        }
    }
    .detail {
        padding: 0 12px 6px 12px
    }
    .last_sale {
        color: #666;
        font-size: 12px;
        span {
            color: #333;
        }
    }
    .buy_now {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: #6e97f6;
        line-height: 40px;
        color: #fff;
        padding: 0 12px;
        display: flex;
        justify-content: space-between;
        
    }
}