:global(:where(.css-dev-only-do-not-override-ac2jek).ant-layout-sider) {
    background-color: #191E26 !important;
}

:global(:where(.css-dev-only-do-not-override-ac2jek).ant-menu-dark) {
    background-color: #191E26 !important;
}
.wrap {
    color:#fff;
}
.platform_name {
    display: flex;
    align-items: center;
    span {
        font-size: 18px;
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
}

.opt_list {
    padding: 20px 0;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    img {
        width: 30px;
        height: 30px;
    }
}
.nft_list {
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    max-height: 75vh;
    /* overflow: auto; */
}
.nft_item {
    margin-left: 15px;
    border-radius: 10px;
    border:solid 1px #f2f2f2;
    overflow: hidden;
    position: relative;
    min-width: 180px;
    /* max-width: 200px; */
    /* height: a */
    margin-bottom: 15px;
    /* flex: 1; */
    .nft_img {
        width: 200px;
        height: 200px;
        overflow: hidden;
        img {
            width: 200px;
            height: 200px;
        }
        }
    .select {
        width: 30px;
        height: 30px;
        position: absolute; left: 160px;top: 5px;
        float: right;
        z-index: 99;
    }
    .nft_info {
        padding: 8px 0;
    }
    .single_line {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 120px; 
    }
    .top {
        display: flex;
        font-size: 20px;
        padding: 0 10px;
        justify-content: space-between;
    }
    .detail {
        margin-top: 8px;
        padding: 0 12px 6px 12px;
        display: flex;
        justify-content: space-between;
    }
    .last_sale {
        color: #666;
        font-size: 12px;
        span {
            color: #333;
        }
    }
    .nft_title {
        display: flex;
        justify-content: space-between;
    }
    .buy_now {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #8127DA;
        line-height: 50px;
        color: #fff;
        padding: 0 12px;
        display: flex;
        justify-content: space-between;
        
    }
}

.nft_item_active {
    border: solid 2px #8127DA !important;
}
.operate {
    margin-top: 20px;
    display: flex;
    justify-content: right;
    padding:0 10px 10px 0;
    Button {
        background-color: #8127DA;
        border: none;
        color: #fff;
    }
}