
.upload_wrap {
    display: flex;
}
.upload_img {
    .img {
        border-radius: 6px;
        width: 120px;
        height: 120px;
        border: dashed 2px #8127DA;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #8127DA;
        position: relative;
        cursor: pointer;
        .img_input {
            position: absolute;
            opacity: 0;
            width:100%;
            height: 100%;
            z-index: 1;
        }
        .img_url {
            position: absolute;
            top: 6px;left:6px;
            width: 106px;
            height: 106px;
            border-radius: 4px;
        }
        .upload_icon {
            width: 12px;
            height: 12px;
            margin-right:6px;
        }
    }
}
.result_box {
    padding-left: 20px;
    padding-top: 10px;
    .result_item {
        margin: 5px 0;
        font-size: 14px;
        width: 500px;
    }
}