.upload_wrap {

}
.file_upload {
     display: flex;
}
.file_input {
    display: flex;
    align-items: center;
    border: solid 1px #ddd2d2;
    border-radius: 6px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}
.upload_but {
    margin-left: 10px;
}
.result_box {
    margin-top: 20px;
}
.result_item {
    margin: 5px 0;
}
.nft_img {
    width: 250px;
    height: auto;
    border-radius: 6px;
}