.nft_header {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 20px;
    box-sizing: border-box;
    height: 8vh;
    background: '#242222ff';
    background-color: #222426 !important;
}
.user {
    padding:0 10px;
    color: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    .wallet_icon {
        width: 30px;
        color: #fff !important;
    }
    .address {
        width: 400px
    }
}
.logout_icon {
    vertical-align: middle;
    font-size: 20px;
    color: #4b0e0e;
    font-weight: 800;
}
.logout span{
    margin-left: 10px;
    vertical-align: middle;
    color: #ff0000;
    font-weight: bold;
}
.unlogin {
    display: flex;
    align-items: center;
    font-size: #fff;
    .connect_text {
        color: #fff;
        height: 40px;
        line-height: 40px;
        padding:0 10px;
        border-radius: 6px;
    }
    .line {
        width: 1px;
        height: 30px;
        background-color: #3b3434;
        margin: 0 10px;
    }
    .wallet_box {
        width:40px;
        height: 26px;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-radius: 6px;
        img {
            width: 22px;
            height: 22px;
        }
    }
}